<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--摄像头权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--具备摄像头-->
    <uses-feature android:name="android.hardware.camera.any" />
    <!--存储图像或者视频权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--录制音频权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".app.AppLauncher"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_camera"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/BaseTheme"
        tools:targetApi="31">
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:excludeFromRecents="true"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|navigation|touchscreen|layoutDirection|locale|screenLayout"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>